/* nejsme vcerejsi, pouzivame moderni box model */
html { box-sizing: border-box; }
*, :after, :before { box-sizing: inherit; }


/* -------------------------------------------------- */

body {
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
}

h2 {
    margin: 0;
    font-family: 'Raleway', sans-serif;
}

.paticka {
    text-align: center;
    font-size: 14px;
    color: silver;
}

.paticka a {
    color: silver;
}

/* -------------------------------------------------- */

/*
pouzivame mobile first pristup
tj. vychozi styly mimo media query jsou pro nejmensi mobilni zarizeni (telefony)
s pribyvajici sirkou pridavame media query pro...
tablety:
@media (min-width: 480px) {
}
notebook/pc:
@media (min-width: 860px) {
}
*/

/* tvoje styly sem */

.recept-nazev,
.recept-kategorie {
    color: white;
    font-weight: 800;
}

.recept-komentare {
    color: white;
    font-size: 0.8rem;
    font-weight: 400;
}

img {
    border: 1px solid white;
}

.recept-hlavni {
    background-image: url(../images/burger.jpg);
    background-position: center;
    background-repeat: no-repeat;
    border: 1px solid white;
}

.recept2 {
    background-image: url(../images/sushi.jpg);
    background-position: center;
    background-repeat: no-repeat;
    border: 1px solid white;
}

.recept3 {
    background-image: url(../images/rajcata.jpg);
    background-position: center;
    background-repeat: no-repeat;
    border: 1px solid white;
}

.recept4 {
    background-image: url(../images/kure.jpg);
    background-position: center;
    background-repeat: no-repeat;
    border: 1px solid white;
}

.recept5 {
    background-image: url(../images/grilovani.jpg);
    background-position: center;
    background-repeat: no-repeat;
    border: 1px solid white;
}


/*
.recept-hlavni,
.recept2,
.recept3,
.recept4,
.recept5 {
    display: flex;
}

.recept-kategorie {
    position: relative;
    top: 1rem;
    left: 0rem;
}

.recept-nazev {
    position: absolute;
    bottom: 1rem;
    text-align: left;
}

.recept-komentare {
    position: absolute;
    text-align: right;
    top: 1rem;
    right: 1rem;
}
*/

/*Break point pro mobil*/
@media screen and (max-width: 600px) {
    .recept-hlavni .recept-nazev {
        font-size: 1.75em;
    }
    .recept2 .recept-nazev {
        font-size: 1.2rem;
    }
    .recept3 .recept-nazev {
        font-size: 1.2rem;
    }
    .recept4 .recept-nazev {
        font-size: 1.2rem;
    }
    .recept5 .recept-nazev {
        font-size: 1.2rem;
    }
    .recept-kategorie {
        padding-left: 0.5rem;
        padding-top: 0.5rem;
    }
    .recept-komentare {
        padding-right: 0.5rem;
        padding-top:0.5rem;
    }
    .recept-nazev {
        padding-left: 0.5rem;
        padding-bottom: 0.5rem;
    }
    .doporucujeme {
        flex-direction: column;
    }
    .recept-hlavni {
        min-height: 200px;
    }
    .recept2,
    .recept3,
    .recept4,
    .recept5 {
        min-height: 90px;
    }
}


/*Break point pro tablet*/
@media screen and (min-width: 601px) and (max-width: 900px) {
    .recept-hlavni .recept-nazev {
        font-size: 2rem;
    }
    .recept2 .recept-nazev {
        font-size: 1.5rem;
    }
    .recept3 .recept-nazev {
        font-size: 1.5rem;
    }
    .recept4 .recept-nazev {
        font-size: 1.5rem;
    }
    .recept5 .recept-nazev {
        font-size: 1.5rem;
    }
    .recept-kategorie {
        padding-left: 1.25rem;
        padding-top: 1.25rem;
    }
    .recept-komentare {
        padding-right: 1.25rem;
        padding-top:1.25rem;
    }
    .recept-nazev {
        padding-left: 1.25rem;
        padding-bottom: 1.25rem;
    }
    .recept-hlavni {
        min-height: 250px;
    }
    .recept2,
    .recept3,
    .recept4,
    .recept5 {
        min-height: 150px;
    }
    .doporucujeme {
        display: flex;
        flex-direction: column;
    }
}

/*Break point pro desktop*/
@media screen and (min-width: 901px) {
    .recept-hlavni .recept-nazev {
        font-size: 3rem;
    }
    .recept2 .recept-nazev {
        font-size: 1.75rem;
    }
    .recept3 .recept-nazev {
        font-size: 1.75rem;
    }
    .recept4 .recept-nazev {
        font-size: 1.75rem;
    }
    .recept5 .recept-nazev {
        font-size: 1.75rem;
    }
    .recept-kategorie {
        padding-left: 1.25rem;
        padding-top: 1.25rem;
    }
    .recept-komentare {
        padding-right: 1.25rem;
        padding-top:1.25rem;
    }
    .recept-nazev {
        padding-left: 1.25rem;
        padding-bottom: 1.25rem;
    }
    .recept-hlavni {
        min-height: 400px;
    }
    .recept2,
    .recept3,
    .recept4,
    .recept5 {
        min-height: 200px;
    }
}